---
import Head from '@/components/common/Head.astro';
import Logo from '@/components/common/Logo.astro';
import Menu from '@/components/common/Menu.astro';

interface Props {
  pageTitle?: string;
  pageDescription?: string;
  pageOgType?: string;
  pageSlug?: string;
  index?: number;
}

const { pageTitle, pageDescription, pageOgType, pageSlug, index } = Astro.props;

const defaultTitle = 'TSUKIHI';
const defaultDescription =
  'TSUKIHIは不可意思が撮った写真を掲載するギャラリーサイトです。';
const defaultOgType = 'website';
const defaultUrl = 'https://tsukihi.fkxsh.com';

const title = pageTitle ? `${pageTitle} | ${defaultTitle}` : defaultTitle;
const description = pageDescription ? pageDescription : defaultDescription;
const ogType = pageOgType ? pageOgType : defaultOgType;
const url = pageSlug ? `${defaultUrl}/${pageSlug}` : defaultUrl;
---

<!doctype html>
<html
  lang="ja"
  transition:animate="fade"
>
  <Head
    title={title}
    description={description}
    ogType={ogType}
    url={url}
    defaultTitle={defaultTitle}
    defaultUrl={defaultUrl}
  />
  <body
    class="group/menu font-tsukihiEN text-white"
    data-open="close"
    data-index={typeof index === 'number' ? index : false}
  >
    <header>
      <Logo />
    </header>
    <main class="bg-tsukihi-black">
      <slot />
    </main>
    <Menu />
  </body>
</html>
